<h1>Edit Post</h1>

<form action="<%= sub_url %>" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <%= auth_token %>

  <label for="Title">Title</label><br>
  <input id= "Title" type="text" name="sub[title]" value="Title">
  <br>
  <br>

  <label for="Description">Description<br></label>
  <textarea id= "Description" name="sub[description]" rows="8" cols="80"><%= @sub.description %></textarea>
  <br>
  <br>

  <input type="submit" name="" value="Update">

</form>
