<h1>Make snide remarks here</h1>

<form action="<%= posts_url %>" method="post">
  <%=auth_token%>

  <label for="Title">Title</label><br>
  <input id="Title" type="text" name="post[title]" value="">
  <br><br>

  <label for="URL">URL</label><br>
  <input id= "URL" type="text" name="post[url]" value="">
  <br><br>

  <label for="Content">Content</label><br>
  <textarea id="Content" name="post[content]" rows="8" cols="80"></textarea>

  <label>Subs</label>
  <input type="hidden" name="post[sub_ids][]" value="">
  <% Sub.all.each do |sub| %>
    <label><%= sub.title %></label>
    <input type="checkbox" name="post[sub_ids][]" value="<%= sub.id %>">
  <% end %>


  <br>
  <input type="submit" name="" value="Snide Remarks Send">

</form>
