<h1>Make snide remarks here</h1>

<form action="<%= posts_url %>" method="post">
  <%=auth_token%>

  <label for="Title">Title</label><br>
  <input id="Title" type="text" name="post[title]" value="">
  <br><br>

  <label for="URL">URL</label><br>
  <input id= "URL" type="text" name="post[url]" value="">
  <br><br>

  <label for="Content">Content</label><br>
  <textarea id="Content" name="post[content]" rows="8" cols="80"></textarea>

  <br>
  <input type="submit" name="" value="Snide Remarks Send">

</form>
